<div class="row">
  <div class="offset-2 col-8">
    <div class="card shadow-sm rounded">
      <div class="card-body">
        <h4 class="card-title text-center">Add New Member</h4>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col">
              <label for="id" class="form-label">ID</label>
              <input
                type="text"
                class="form-control"
                id="id"
                formControlName="id"
              />
            </div>
            <div class="col">
              <label for="status" class="form-label">Status</label>
              <input
                type="text"
                class="form-control"
                id="status"
                formControlName="status"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                formControlName="firstName"
              />
            </div>
            <div class="col">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                formControlName="lastName"
              />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="jobTitle" class="form-label">Job Title</label>
              <input
                type="text"
                class="form-control"
                id="jobTitle"
                formControlName="jobTitle"
              />
            </div>
            <div class="col">
              <label for="team" class="form-label">Team</label>
              <input
                type="text"
                class="form-control"
                id="team"
                formControlName="team"
              />
            </div>
          </div>
          <div class="d-grid col-6 mx-auto mt-2">
            <button
              [disabled]="!registerForm.valid"
              class="btn btn-outline-primary"
              type="submit"
            >
              Add New Member
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
